body {

    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(logo.png) ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    text-transform: uppercase;
    direction: ltr;
    text-align: center;
    letter-spacing: 0.5cm;
    text-decoration: underline overline;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px red, 3px 3px 6px brown;
}
p{
    line-height: 1cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-indent: 2cm;
    text-align: justify;
    word-wrap: break-word;
    word-break: keep-all;
    
}
