@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
body {
    font-family: 'Tinos', serif;
}

.navbar{
    background-color: black;
    color: white;
}
.nav-link:hover {
    background-color: #ee4e5c;
}

.col-form-label{
    text-align: center;
}

.jumbotron{
    padding: 50px;
    background-color: #ee4e5c;
    border-radius: 0px;
    background-size: cover;
}

.jumboHeaderImg {
    background-image: url(/images/about-us-hero-image.jpg);
    background-size: cover;
}
.list-display li{
    display: inline;
}

.footer{
    background-color: #74f3ed;
    padding: 30px 10px 10px 10px;
}

#copyright-section {
    justify-content: center;
}